* {
    box-sizing: border-box;
}

.flex-container {
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.jc-right {
  justify-content: center;
}

.box-1 {
  border: 1px solid black;
  color: white;
  background-color: blue;
  height: 150px;
  width: 300px;
}
.box-2 {
  border: 1px solid black;
  color: white;
  background-color: red;
  height: 100px;
  width: 300px;
}
.box-3 {
  border: 1px solid black;
  color: white;
  background-color: green;
  height: 200px;
  width: 100px;
}