.rating {
	width: 300px;
	padding: 2rem 2rem;
	border: 0;
	margin: 0;
	font-size: 3.5rem;
	overflow:hidden;
}
.rating a {
	float:right;
	color: #777;
	text-decoration: none;
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	color: orange;
	cursor: pointer;
}