.site{
    display: grid;
    grid-template-areas:
        "header"
        "album"
}

.site-header{
    grid-area: "header";
    text-align: center;
}

.text-header{
    font-family: Georgia;
    font-size: 2.5rem;
    text-align: center;
}

.album-grid{
    grid-area:"album";
    display: grid;
    grid-template-areas:
        "photo photo"
        "photo photo";
    border: 0.7rem solid black;
}

.album-photo{
    grid-area:"photo";
    margin: 30px;
    align-items:center;
    margin:0;
    padding:0;
    width=300px;
    height=200px;
    border-left: 0.7rem solid black;
    border-bottom: 0.7rem solid black;
}

.album-photo .pic{
    
}